.pageContainer {
  height: 100%;
  flex: 1;
  display: flex;
  overflow: hidden;
}

.chatArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.chatContent {
  flex: 1;
  min-height: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.splitter {
  flex: 1;
}

.splitterPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.messageListContainer {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.bottomSenderWrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: flex-start;
  z-index: 10;
}

.bottomSenderContainer {
  width: 100%;
}

.confirmModal :global(.ant-modal-body) {
  padding: 24px;
}
