.pageContainer {
  height: 100%;
  display: flex;
  overflow: hidden;
  --chat-bg-color: #f5f7fa;
}

.chatArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  background: var(--chat-bg-color);
}

.splitter {
  flex: 1;
}

.splitterPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
}