.messageListWrapper {
  width: 75%;
  max-width: 1100px;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bubbleList {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.bubbleList::-webkit-scrollbar {
  width: 6px;
}

.bubbleList::-webkit-scrollbar-track {
  background: transparent;
}

.bubbleList::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.bubbleList::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.bubbleItem {
  padding: 12px 10%;
}