.messageListWrapper {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.bubbleList {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.bubbleList::-webkit-scrollbar {
  width: 6px;
}

.bubbleList::-webkit-scrollbar-track {
  background: transparent;
}

.bubbleList::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.bubbleList::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.bubbleItem {
  padding: 12px 18%;
}